@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.login-page {
  @apply w-full md:w-3/4 lg:w-1/2 max-w-lg lg:m-auto min-w-min mx-auto border rounded-md  p-6 shadow bg-white;
}

.input-field {
  @apply mb-3 bg-transparent p-2 w-full border-b-2 border-blue-500 text-white outline-none pl-8;
}

label {
  @apply font-bold text-black;
}

.login__link {
  @apply underline text-blue-500 cursor-pointer hover:text-green-800 font-bold;
}
.login-button {
  @apply rounded-full w-full py-2 mt-2 font-bold px-8 shadow-md border border-blue-500 hover:bg-blue-500 flex items-center justify-center gap-1;
}
#email-icon,
#password-icon {
  @apply absolute bottom-6 left-0 mt-5;
}
#reset-icon {
  @apply absolute bottom-10 left-0 mb-4;
}
.menu-item {
  @apply px-3 py-2 font-bold hover:text-blue-600;
}

.btn-primary {
  @apply p-2 m-3 rounded-lg mx-4 py-2 mt-2 font-bold px-8 shadow-md border border-blue-500 bg-blue-500 hover:bg-blue-700;
}
.hero-btn-primary {
  @apply rounded-md px-4 mx-4 py-2 mt-4 font-bold shadow text-white border border-blue-500 bg-blue-500 hover:bg-blue-700 h-10 w-10;
}
.menu {
  @apply flex flex-col h-fit min-h-[150px] w-fit  space-y-6 md:mt-5 shadow-lg  p-8  z-50 absolute left-0 top-0 rounded-md border bg-gray-200;
}
.footer-links {
  @apply flex w-full md:justify-between flex-wrap md:mt-1 xsm:flex-col;
}

.footer-link {
  @apply flex-1 flex-col gap-1 text-base;
}
.blue-color {
  background-color: #4c73ff;
}
/* hero section styles */
.hero {
  @apply overflow-hidden  xsm:mt-0 flex xl:flex-row flex-col gap-5 relative z-0 max-w-[1440px] mx-auto;
}

.hero__title {
  @apply mx-4 2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold;
}

.hero__subtitle {
  @apply mx-4 text-[27px] font-light mt-5 mb-2;
}

.hero__image-container {
  @apply xl:flex-[1.5] flex justify-end items-end w-full xl:h-screen;
}

.hero__image {
  @apply relative xl:w-full w-[90%] xl:h-full h-[590px] z-0;
}

.hero__image-overlay {
  @apply absolute xl:-top-24 xl:-right-1/2 -right-1/4 bg-hero-bg bg-repeat-round -z-10 w-full xl:h-screen h-[590px] overflow-hidden;
}
/* 
/* accordion styling */
.requirements-list li {
  @apply py-2  leading-relaxed text-base mx-2;
}
.accordion {
  @apply text-xl md:text-2xl text-left shadow-lg w-full font-bold rounded-md focus:outline-none mt-2 md:mt-4;
}
.recommendations-card {
  @apply shadow-lg  h-32 w-32 rounded-md xsm:w-fit border;
}
.booking-card {
  @apply shadow-lg rounded-md w-fit h-fit border;
}
.cardheader {
  @apply text-2xl font-bold text-center my-2 p-2 mx-auto;
}
.booking-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}
.booking-form {
  @apply text-black h-10 border text-xl rounded-md outline-none w-full m-2;
}
/* sylvia components css */
.search {
  @apply flex items-center m-auto justify-center text-black;
}

.search-input {
  @apply w-3/5 h-10 border text-xl rounded-md outline-none text-black;
}
/* SEARCH INPUT STYLING ENDS */

/* CAR GRID CONTAINER STYLING BEGINS */
.car-list {
  @apply items-center justify-center mx-2;
}

.car-list h1 {
  @apply text-2xl font-bold text-center;
}

.card-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding-top: 20px;
  align-items: center;
  justify-content: center;
}

.car-card {
  @apply rounded-md flex flex-col p-4 border bg-white drop-shadow-2xl shadow-lg border;
}

.car-card img {
  width: 230px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.make-and-bd-type h2 {
  font-weight: bolder;
  text-align: left;
}

.price-holder {
  text-align: left;
  margin-top: 10px;
}

.superscript {
  vertical-align: super;
  font-size: 12px;
  font-weight: 600;
}

.price {
  font-weight: 700;
  font-size: 20px;
}

.subscript {
  vertical-align: sub;
  font-size: 12px;
}

.car-details {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding-top: 13px;
}

.icon-and-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.icon-and-detail p {
  font-size: 10px;
  font-weight: 500;
  padding-top: 5px;
}

.icon {
  font-size: 18px;
}
/* CAR GRID CONTAINER STYLING ENDS */

/* PAGINATION STYLING BEGINS */

.page-button {
  color: #090909;
  padding: 5px;
  width: fit-content;
  font-size: 13px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  cursor: pointer;
}

.page-button:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #8fc1f2, inset -4px -4px 12px #ffffff;
}

.current-page-button {
  gap: 7px;
  font-size: 13px;
  color: #9c9c9f;
  outline: none;
  letter-spacing: 6px;
}
/* styling for review form */
.review-form-input {
  @apply text-black outline-none rounded-md my-2 p-4 w-full;
}
